<div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
    
                    <input #input (keyup)="buscarUsuario( input.value )" type="text" class="form-control" placeholder="Buscar usuario...">
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row animated fadeIn" *ngIf="cargando">
    
        <div class="col-sm-12">
    
            <div class="alert alert-warning text-center">
                <strong>Cargando</strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Espere por favor</span>
            </div>
        </div>
    </div>
    
    
    <div class="row animated fadeIn" *ngIf="!cargando">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                        <div class="text-right">
                                <button [routerLink]="['/usuarios/crear']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-plus"></i> 
                                Crear Usuario
                              </button>
                            </div>
    
                    <h3 class="card-title">Profesionales registrados ( <small>{{ _usuarioService.totalUsuarios }}</small> )</h3>
    
    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Dirección</th>
                                <th>Telefono</th>
                                <th>Fecha de nacimiento</th>
                                <th>Fecha de ingreso</th>
                                <th>Sexo</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>
                                    {{ usuario.nombre }}
                                </td>
                                <td>
                                    {{ usuario.apellidos }}
                                </td>
                                <td>
                                    {{ usuario.direccion }}
                                </td>
                                <td>{{ usuario.telefono }}</td>
                                <td>{{ usuario.fechaNac }}</td>
                                <td>{{ usuario.fechaIngreso }}</td>
                                <td> {{ usuario.sexo }}</td>
                               <td>
                                    <button (click)="guardarUsuario( usuario )" class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            </button>
                                            <button (click)="borrarUsuario( usuario )" class="btn btn-danger">
                                            <i class="fa fa-trash-o"></i>
                                            </button>
                               </td>
             
                            </tr>
                           
                            <td>
                                    
                        </tbody>
    
                    </table>
    
                    <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                      Anteriores
                    </button>
    
                    <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                        Siguientes
                    </button>
    
                </div>
            </div>
        </div>
    </div>